<div class="wrapper">
<div class="container-fluid">
<!--Top Menu-->
<section>
<div class="row">

    	<div class="top-menu">

        	<div class="container">

                <div class="col-md-4">

                    <span class="no-qstns">31,93,50,97,037 </span>

                    <span class="top-text">Questions answered! </span>

                </div>

               

                <div class="col-md-8 col-xl-12">

                     <nav class="menu">

                  

                     

                        <ul class="active">

                            <li class="current-item"><a href="analytics.html"> Analytics</a></li>

                            <li><a  href="awards.html"> Awards</a> </li>

                            <li><a  href="curriculum.html">National curriculum</a></li>

                            <li><a  href="membership.html">Memebrship</a></li>

                        </ul>

                          <a class="toggle-nav" href="#">&#9776;</a>

                    </nav>
                     <div class="login">
              
                        <span>
						<span>
						<input type="text" name="username" ng-model="userDetails.username" placeholder="UserName" />
						<input type="password" name="upassword" ng-model="userDetails.upassword" placeholder="PassWord" />
						<a style="cursor:pointer" ng-click="showLoginPopup(userDetails)">Login</a></span>
						
						</span>

                        <span class="line">|</span>

                        <span><a href="dashboard.html">Register</a></span>
                       
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!--Top Bar-->

<section>

    <div class="row">

        <div class="top-bar">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="logo col-md-2">

                            <a href="index.html"><img src="images/logo.png" /></a>

                        </div>

                        <div class="col-md-9 col-xs-8 col-lg-5">

                            <ul class="nav nav-pills main-menu" role="tablist">

                               

                               <li role="presentation" class="dropdown">

                                  <a href="#" class="dropdown-toggle top-level" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> MATHS </a>

                               </li>

                               <li role="presentation" class="dropdown">

                                  <a href="#" class="dropdown-toggle top-level" id="drop5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> ENGLISH</a>

                               </li>

                               

                            </ul>

                        </div>

                        <div class="country col-md-1">

                        	<ul class="nav nav-pills main-menu" role="tablist">

                               

                               <li role="presentation" class="dropdown">

                                  <a href="#" class="dropdown-toggle top-level" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img src="images/flag1.png" /> <span class="caret"></span> </a> 

                                  <ul class="dropdown-menu country-select" id="menu1" aria-labelledby="drop4">

                                     

                                     <li><a href="#"><img src="images/uk.png" /> United Kingdom</a></li>

                                     

                                  </ul>

                               </li>

                               

                               

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>  

</section> 

    <!--Banner--> 

    <div class="tp-banner-container">

		<div class="tp-banner" >

			<ul>	

            	<li data-transition="fade" data-slotamount="1" data-masterspeed="5000" >

					<!-- MAIN IMAGE -->

					<img src="images/banner.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

					<!-- LAYERS -->



					<!-- LAYER NR. 1 -->

					<div class="tp-caption customin"

						data-x="474"

						data-y="320"

						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

						data-speed="500"

						data-start="800"

						data-easing="Power3.easeInOut"

						data-endspeed="300"

						style="z-index: 2"><img src="images/student2.png" alt="">

					</div>



					<!-- LAYER NR. 2 -->

					<div class="tp-caption customin"

						data-x="200"

						data-y="240"

						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

						data-speed="500"

						data-start="500"

						data-easing="Power3.easeInOut"

						data-endspeed="300"

						style="z-index: 3"><img src="images/student1.png" alt="">

					</div>



					<!-- LAYER NR. 3 -->

					<div class="tp-caption customin"

						data-x="738"

						data-y="240"

						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

						data-speed="500"

						data-start="1300"

						data-easing="Power3.easeInOut"

						data-endspeed="300"

						style="z-index: 4"><img src="images/student3.png" alt="">

					</div>



					



				</li>

				<!-- SLIDE  -->

				

            </ul>

        </div>

    </div>

<section>

    <div class="row">

    	<div class="banner">

        	

            

            <div class="banner-search-area input-group">

                <input class="form-control" placeholder="Search Topics and SkillS . . ." type="text">

                <span class="input-group-addon">

                    <button type="submit">

                        <span class="glyphicon glyphicon-search"></span>

                    </button>  

                </span>

            </div>

        </div>

    </div> 

</section>

 <!--Home Content-->

<section>

		<div class="row">

    	

            <div class="home-content">

                <div class="container">
				     <div class="class-tabs col-md-12">
					<div class="responsive-tabs" >
					
						<h2 class="color1" ng-repeat="classInfoLoop in classInfo">{{classInfoLoop.ClassName}}</h2>
							<div>
							<h3 class="color-pink">Lower Kintergarten Maths</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper.ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper. </p>
                            <div class="wrapper">
							<div class="col-md-2">
							<h3 class="color-orange">Maths</h3>
							</div>
							<div class="col-md-2">
							<h3><a href="question.html" class="color-light-blue underlined">55 Skills</a></h3>
							</div>
							</div>
							</div>
							
							<div>
							<h3 class="color-pink">Lower Kintergarten Maths</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper.ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper. </p>
                            <div class="wrapper">
							<div class="col-md-2">
							<h3 class="color-orange">Maths</h3>
							</div>
							<div class="col-md-2">
							<h3><a href="question.html" class="color-light-blue underlined">55 Skills</a></h3>
							</div>
							</div>
							</div>
							
                    </div>

                </div>

                <!--Membership-->

                <div class="row">

                	<div class="container">

                        <div class="membership col-md-12">

                        	<h3 class="text-center color-pgreen heading">Become E-Learning Member</h3>

                            <h4 class="text-center color-grey sub-heading">Exploring the benifits of becoming an E-learning member!</h4>

                        	<div class="col-md-4">

                            	<div class="awards">

                               		<div class="icon">

                                    	<img src="images/awards_icon.png" />

                                    </div>

                                    <h3>Awards</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper. </p>

                                    <a href="#" class="join-btn">Join</a>

                                </div>

                            </div>

                            <div class="col-md-4">

                            	<div class="curriculam">

                               		<div class="icon">

                                    	<img src="images/curicullam_icon.png" />

                                    </div>

                                    <h3>National Curriculam</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper. </p>

                                    <a href="#" class="join-btn">Join</a>

                                </div>

                            </div>

                            <div class="col-md-4">

                            	<div class="analytics">

                                	<div class="icon">

                                    	<img src="images/analytics_icon.png" />

                                    </div>

                                    <h3>Analytics</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper. </p>

                                    <a href="#" class="join-btn">Join</a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!--Testimonials-->

                <div class="row">

                	<div class="container">

                    	<h3 class="text-center color-dark-blue heading-padding">Testimonials</h3>

                        

                            <div class="col-md-12">

                                <div class="testimonial-image col-md-3">

                                    <img src="images/testimonial_image.png" />

                                </div>

                           		<div id="testimonial-slider" class="owl-carousel">

                                	<div class="testmonial">

                                        <div class="testimonial-content col-md-12 testimonials ">

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper. </p>

                                        </div>

                                        

                                        

                                        <div class="col-md-3 pull-right testimonial-author">

                                            Lorem ipsum dolor sit amet<br />

                                            consectetur adipiscing elit.

                                        </div>

                               		</div>

                                    <div class="testmonial">

                                        <div class="testimonial-content col-md-12 testimonials ">

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum nulla vitae dui porttitor, ut egestas erat elementum. Vivamus sit amet odio semper, malesuada nunc at, porta ante. Vivamus sit amet odio semper. </p>

                                        </div>

                                        

                                        

                                        <div class="col-md-3 pull-right testimonial-author">

                                            Lorem ipsum dolor sit amet<br />

                                            consectetur adipiscing elit.

                                        </div>

                                    </div>

                                </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>



</section>

<section>

	<div class="row">

    	<div class="editions">

        	<div class="container">

                <div class="col-md-2">

                    <h3>Editions</h3>

                </div>

                <div class="col-md-10 edition-flags">

                    <img src="images/flag1.png" />

                    <img src="images/uk.png" />

                    

                </div>

             </div>

        </div>

    </div>

</section>



<footer>

	<div class="row">

    	<div class="footer">

        	<div class="container">

            	<div class="col-md-3">

            		<h3 class="color-white heading">What We Offer</h3>

                    <ul class="footer-menu">

                    	<li><a href="#">Membership</a></li>

                        <li><a href="#">Maths</a></li>

                        <li><a href="#">English</a></li>

                        <li><a href="#">Awards</a></li>

                        <li><a href="#">Analytics</a></li>

                        <li><a href="#">Standards</a></li>

                        <li><a href="#">Mobile Apps</a></li>

                    </ul>

                </div>

                <div class="col-md-3">

                    <h3 class="color-white heading">Community</h3>

                    <ul class="footer-menu">

                    	<li><a href="#">Help Center</a></li>

                        <li><a href="#">Tell Us What You Think</a></li>

                        <li><a href="#">Blog</a></li>

                        <li><a href="#">Testimonials</a></li>

                        <li><a href="#">Contact Us</a></li>

                    </ul>

                </div>

                <div class="col-md-3">

                    <h3 class="color-white heading">About Company</h3>

                    <ul class="footer-menu">

                    	<li><a href="#">Company Information</a></li>

                        <li><a href="#">Terms Of Service</a></li>

                        <li><a href="#">Privacy Policy</a></li>

                        <li><a href="#">Jobs</a></li>

                    </ul>

                </div>

                <div class="col-md-3">

                	<h3 class="heading">&nbsp;</h3>

                    <p class="color-white">Connect With Us</p>

                    <a href="#"><img src="images/google.png" /></a>

                    <a href="#"><img src="images/fb.png" /></a>

                    <a href="#"><img src="images/twitter.png" /></a>

                </div>

            </div>

        </div>

    </div>

</footer>

</div>

</div>

 <script>

$(document).ready(function(){

    $("#testimonial-slider").owlCarousel({

        items:1,

        itemsDesktop:[1000,2],

        itemsDesktopSmall:[980,1],

        itemsTablet:[768,1],

        pagination:true,

        navigation:false,

        navigationText:["",""],

        autoPlay:true

    });

});

</script>

<script>

$(document).ready(function() {

	RESPONSIVEUI.responsiveTabs();

})

</script>





<script>

jQuery(document).ready(function() {

    jQuery('.toggle-nav').click(function(e) {

        jQuery(this).toggleClass('active');

        jQuery('.menu ul').toggleClass('active');

 

        e.preventDefault();

    });

});

</script>

<script type="text/javascript">



	var revapi;



	jQuery(document).ready(function() {



		   revapi = jQuery('.tp-banner').css('visibility', 'visible').show().revolution(

			{

				delay:9000,

				startwidth:1170,

				startheight:500,

				hideThumbs:10,

				fullWidth:"on",

				forceFullWidth:"on"

			});



	});	//ready



</script>


<!--Login  Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog login-modal-bg" role="document">
    <div class="modal-content login-modal-content">
      <div class="modal-header">
        <span class="close color-white login-close" data-dismiss="modal">Close X</span>
        
      </div>
      <div class="modal-body login-content">
        <h2>Welcome To E-learning</h2>
        <h2>Login as</h2>
        <div class="col-md-4">
        	<a style="cursor:pointer" ng-click="showUserDashboard(ResUserName)"><img src="images/shreshta.png" /></a>
            <h4>{{ResUserName}}</h4>
        </div>
        <div class="col-md-4">
        	<img src="images/parents.png" />
            <h4>Parent</h4>
        </div>
        <div class="col-md-4">
        	<img src="images/teacher.png" />
            <h4>Teacher</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

</body>

</html>

